
<div class="container centered">
  <p id="notice" style="color: red"><strong> <%= notice %></strong></p>
</div>

<div class="container centered">
 <h1>Howdy and Welcome to the Super Mondo Awesome Store</h1>
 <p>Your one-stop-shop for all your garbage needs</p>


 <div class="row">
  <% @products = @products.paginate(:page => params[:page], :per_page => 9) %>
  <% if params[:category_id] %>
   <h3>All <%= @category.name %></h3>
  <% else %>
   <h3>All Products</h3>
  <% end %>

  <% if @products.empty? %>
   <h2>There are no products in <%= @category.name %></h2>
  <% end %>
  <% @products.each do |product| %>
   <div class="col-sm-4">
    <div class="panel panel-default">
     <div class="panel-body">
      <%= image_tag product.avatar.url(:medium) %>
      <!-- <span class="pull-right text-right"> -->
       <h5><%=  number_to_currency(product.price) %></h5>
      <!-- </span> -->
      <!-- <h3><%= link_to product.name, product_path(product) %></h3> -->
      <h3><%= product.name %></h3>

      <a href="#" data-toggle="modal" data-target="#myModal_<%= product.id %>">
              <small class="btn btn-success">quick info</small>
      </a>

     </div>

    </div>


   </div>
   <!-- Modal -->
   <div class="modal fade" id="myModal_<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <h4 class="modal-title" id="myModalLabel"><%= product.name %></h4>
         </div>
         <div class="modal-body">
          <%= image_tag product.avatar.url(:medium) %>
          <p><%= sanitize(product.description) %></p>
          <p><%= number_to_currency(product.price) %></p>
         </div>
         <div class="modal-footer">
         </div>
       </div>
     </div>
   </div>

  <% end %>


  <div class="apple_pagination">
    <%= will_paginate @products %>
  </div>
 </div>
</div>
