<p id="notice"><%= notice %></p>
<div class="container lefted">
 <h1>
   <strong>Name:</strong>
   <%= @brand.name %>
 </h1>
<h3>
 <strong>Prodycts By:</strong>
</h3>
<!-- Add list of items by brand -->
<ul>
 <% @brand.products.order('name').each do |products_by| %>
  <li> <%= link_to products_by.name, product_path(products_by) %></li>
  <% end %>
</ul>
</div>
<div class="container lefted">
  <div class="btn-group" role="group" aria-label="..">
    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_brand_path(@brand) %></button>
    <button type="button" class="btn btn-danger"><%= link_to 'Back', brands_path %></button>
  </div>
</div>